<footer class="page-footer white z-depth-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">What a Painting!</h5>
                <p class="black-text">You can use rows and columns here to organize your footer
                    content.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container black-text">
            © 2021 By Kay
            <a class="black-text right" href="#!">More Links</a>
        </div>
    </div>
</footer>