<div class="black">
    {{!-- <div class="header container">
        <i class="material-icons icon-white header-logo">brush</i>
        <a href="/" class="white-text page-title">WHAT A PAINTING!</a>
    </div> --}}
</div>
<nav class="blue darken-3">
    <div class="nav-wrapper container custom-nav">
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li><a href="/">Start</a></li>
            <li><a href="/paintings">Paintings</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>
        <a href="#" class="hide-on-med-and-up">
            <i class="material-icons">dehaze</i>
        </a>
        <div class="chip right">
            <i class="close  material-icons">face</i>
            Hallo Kay
        </div>
    </div>
</nav>