<nav class="white">
    <div class="nav-wrapper container custom-nav ">
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li><a href="/" class="black-text">Startseite</a></li>
            <li><a href="/paintings" class="black-text">Blog</a></li>
            {{#if user}}
                <li><a href="/dashboard" class="black-text">Dashboard</a></li>
                <li><a href="/auth/logout" class="black-text">Logout</a></li>
            {{else}}
                <li><a href="/auth/google" class="black-text">Login</a></li>
            {{/if}}
        </ul>
        <a href="#" class="hide-on-med-and-up">
            <i class="material-icons">dehaze</i>
        </a>

        {{#if user}}
        <div class="chip right">
            <i class="material-icons chip-icon">face</i>
            <span id="header-user-name">Hallo {{user.firstName}}</span>
        </div>
        {{/if}}
    </div>
</nav>