<div class="black">
    <div class="header container row">
        <div class="col s1">
            <a class="btn btn-large white lighten-3" style="display: inline-block; vertical-align: middle;">
                <i class="medium material-icons icon-black">brush</i> </a>
        </div>
        <div class="col s5">
            <a href="#" class="white-text page-title">WHAT-A-PAINTING</a>
        </div>
    </div>
</div>
<nav class="blue darken-3">
    <div class="nav-wrapper container custom-nav">
        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li><a href="">Paintings</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="">Logout</a></li>
        </ul>
        <div class="chip right">
            <i class="close  material-icons">face</i>
            Hallo Kay
        </div>
    </div>
</nav>