<div class="card">
    <div class="card-image">
        <img src={{paintings.image}}>
    </div>
    <div class="card-content">
        <span class="card-title black-text">{{paintings.title}}</span>

        <div class="dashboard-picture-meta-data">
            <div>
                <span class="black-text">Künstler:</span>
                <a href="/" class="blue-text">{{paintings.user.displayName}}</a>
            </div>

            <div class="dashboard-picture-favorites">
                <i class="material-icons small icon-red">favorite</i>
                <span class="painting-likes black-text">{{paintings.likes}}</span>
            </div>
        </div>

    </div>
</div>