<div class="card blue darken-2">
    <div class="card-image">
        <img src={{paintings.image}}>
    </div>
    {{!-- <div class="card-content">
        <span class="card-title white-text">{{paintings.title}}</span>

        <div class="dashboard-picture-meta-data">
            <div>
                <span class="white-text">Künstler:</span>
                <a href="/" class="white-text">{{paintings.user.displayName}}</a>
            </div>

            <div class="dashboard-picture-favorites">
                <div class="chip red">
                    Beliebt
                    <i class="material-icons chip-icon">favorite</i>
                </div>
            </div>
        </div>

    </div> --}}
</div>