{{> _header user=user}}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>Dashboard</h2>
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content dashboard-card">
                    <a href="/paintings/add" class="btn-floating btn-large white">
                        <i class="material-icons large icon-black icon-large">add</i>
                    </a>
                    <div class="dashboard-card-content">
                        <div class="black-text dashboard-card-title">Erstelle ein neues Painting</div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-content dashboard-card">
                    <a href="/auth/logout" class="btn-floating btn-large white">
                        <i class="material-icons large icon-black icon-large">undo</i>
                    </a>
                    <div class="dashboard-card-content">
                        <div class="black-text dashboard-card-title">Ausloggen</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 l4">
            <div class="card">
                <div class="card-content dashboard-card">
                    <i class="material-icons large icon-black">image</i>
                    <div class="dashboard-card-content">
                        <div class="dashboard-number black-text">{{paintings.length}}</div>
                        <div class="black-text">Anzahl deiner Paintings</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content dashboard-card">
                    <i class="material-icons large icon-black">person</i>
                    <div class="dashboard-card-content">
                        <div class="dashboard-number black-text">0</div>
                        <div class="black-text">Paintings die du von anderen magst</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-content dashboard-card">
                    <i class="material-icons large icon-black">people</i>
                    <div class="dashboard-card-content">
                        <div class="dashboard-number black-text">0</div>
                        <div class="black-text">Paintings die andere von dir mögen</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h2>Deine Paintings</h2>
            {{#if paintings}}
            <div class="row">
                {{> _paintings_card paintings=paintings}}
            </div>
            {{else}}
            <p>Du hast bisher noch keine Paintings erstellt.</p>
            {{/if}}
        </div>
    </div>
</div>