{{> _header user=user}}

<div class="container container-with-padding">
    <div class="row">
        <div class="col s8">
            <h1>What a Painting! <i class="material-icons icon-larger icon-red">favorite</i></h1>
            <p>Willkommmen, schön das du da bist! Auf dieser Seite findest du eine Sammlung von tollen Paintings. Lasse
                dich von ihnen inspirieren oder füge dein
                Painting hinzu damit es andere sehen können. Viel Spaß!</p>
        </div>
    </div>
</div>

<div class="custom-dark-blue container-with-padding">
    <div class="container">
        <div class="home-mood-image-container">
            <div class="home-mood-image">
                <div class="card z-depth-0">
                    <div class="card-image">
                        <img src="/images/Lagerfeuer.jpg" alt="">
                    </div>
                </div>
            </div>
            {{#unless user}}
            <div class="home-login-widget white z-depth-2">
                <h4 class="center">MELDE DICH AN</h4>
                <p class="center">Login dich mit deinem Google Account an. <br> Und dann bist du bereit um direkt
                    loszulegen!</p>
                <div class="section center">
                    <a href="/auth/google" class="btn btn-large red darken-1 btn-google">
                        <i class="fab fa-google"></i> <span class="text-with-icon">Login mit Google</span>
                    </a>
                </div>
            </div>
            {{/unless}}
        </div>
    </div>
</div>