{{> _header user=user}}

<div class="container">
    <div class="row">
        <div class="col s8">
            <h3>WILLKOMMEN <i class="material-icons icon-large icon-red">favorite</i></h3>
            <p>Hier findest du eine Sammlung von tollen Paintings. Lasse dich von ihnen inspirieren oder füge dein
                Painting hinzu damit es andere sehen können.</p>
        </div>

        {{!-- <div class="col s6 center">

            {{#if user}}
            <h3 class="center">Wie wärs?</h3>
            <a href="/" class="btn blue darken-2">Füge neues Painting hinzu</a>
            <a href="/" class="btn blue darken-2">Zu deinem Profil</a>
            {{else}}
            <h3 class="center">MELDE DICH AN</h3>
            <div class="section">
                <a href="/auth/google" class="btn btn-large red darken-1">
                    Login mit Google
                </a>
            </div>
            {{/if}}

        </div> --}}
    </div>
</div>

<div class="blue darken-2">
    <div class="container">
        <div class="home-mood-image-container">
            <div class="home-mood-image">
                {{> _painting_card paintings=paintings}}
            </div>
            {{#unless user}}
            <div class="home-login-widget blue darken-3 white-text z-depth-1">
                <h4 class="center">MELDE DICH AN</h4>
                <p class="center">Login dich mit deinem Google Account an. <br> Und dann bist du bereit um direkt
                    loszulegen!</p>
                <div class="section center">
                    <a href="/auth/google" class="btn btn-large red darken-1">
                        Login mit Google
                    </a>
                </div>
            </div>
            {{/unless}}
        </div>
    </div>
</div>