<div class="row paintings-search-header">
    <div class="col s12 z-depth-1 blue darken-2 white-text center home-welcome-block">
        <h1>PAINTINGS BLOG</h1>
    </div>
    <div class="col s12 white-text">
        <a class='dropdown-trigger btn blue darken-3' href='#' data-target='dropdown1'>Sortierung</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!" class="blue-text"><i class="material-icons">loop</i>Nach Neuheit</a></li>
            <li><a href="#!" class="blue-text"><i class="material-icons">favorite</i>Nach Beliebtheit</a></li>
        </ul>
    </div>
</div>

{{#if paintings}}
<div class="row">
    {{> _paintings_card paintings=paintings}}
</div>
{{else}}
    <p> Es gibt bisher noch keine Paintings. </p>
{{/if}}