.dashboard-card{
    display: flex;
    align-items: center;
}

.dashboard-card-title{
    font-size: 25px;
}

.dashboard-card-content{
    margin-left: 20px;
}

.dashboard-number{
    font-size: 35px;
}

.dashboard-picture-favorites{
    display: inline-flex;
    align-items: center;
}

.dashboard-picture-meta-data{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.dashboard-settings{
    display: grid;
    grid-template: 1fr 1fr/ repeat(6, 1fr);
    grid-gap: 0px;
}

.dashboard-settings-column-2,
.dashboard-settings-column-3{
    display: flex;
    grid-column: span 6;
}

@media only screen and (min-width: 768px) {
    .dashboard-settings{
        grid-gap: 15px;
    }
    
    .dashboard-settings-column-3{
        grid-column: span 3;
    }
    
    .dashboard-settings-column-2{
        grid-column: span 2;
    }
  }