.header{
    display: flex;
    margin-bottom: 0;
    padding: 50px 0;
}

.header-logo{
    margin-right: 20px;
}

.page-title{
    font-size: 35px;
}

.btn {
    display: inline-block;
    vertical-align: middle;
}

.custom-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i.icon-white {
    color: white;
}

.dashboard-card{
    display: flex;
    align-items: center;
}

.dashboard-card-number{
    margin-left: 25px;
}

.dashboard-number{
    font-size: 35px;
}