.header{
    display: flex;
    margin-bottom: 0;
    padding: 50px 0;
}

.header-logo{
    margin-right: 20px;
    font-size: 3.5rem;
}

.page-title{
    font-size: 40px;
}

.btn {
    display: inline-block;
    vertical-align: middle;
}

.btn-google{
    display: inline-flex;
}

.custom-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i.icon-black {
    color: black;
}

i.icon-white {
    color: white;
}

i.icon-red {
    color: #f44336;
}

i.icon-blue {
    color: #1565c0;
}

i.icon-grey {
    color: #757575;
}

i.icon-medium{
    font-size: 1.8rem !important;
    line-height: 59px !important;
}

i.icon-large{
    font-size: 2.3rem !important;
}

i.icon-larger{
    font-size: 3.5rem !important;
}

.chip-icon{
    float: right;
    font-size: 18px !important;
    line-height: 32px !important;
    padding-left: 8px;
}

.img-small{
    width: 150px;
    height: 150px;
}

/* .paintings-search-header{
    margin-top: 30px;
    margin-bottom: 60px;
} */

.painting-likes{
    margin-left: 5px;
}

.dropdown-content{
    width: max-content !important;
    height:auto !important;
}

.search-options{
    margin-top: 20px;
}

.text-with-icon{
    margin-left: 10px;
}

.home-mood-image-container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(5,1fr);
}

.home-mood-image{
    grid-column: 1/9;
    grid-row: 1/6;
    opacity: 0.6;
}

.home-login-widget{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 3/7;
    grid-row: 2/4;
    z-index: 2;
}

.page-footer{
    margin-top: 100px;
}

.container-with-padding{
    padding: 25px 0;
}

.custom-dark-blue{
    background-color: #114065;
}